@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600;700&family=Dela+Gothic+One&family=Gentium+Book+Plus:wght@400;700&family=Lora:wght@400;500;600;700&family=Open+Sans:wght@400;600&family=Poppins:wght@400;500;600;700;800&family=Raleway:wght@500;600;700&family=Rubik:wght@400;500;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    color: #fff;
}

body {
    height: 100vh;
    /* background-color: #353535; */
    background: linear-gradient(326deg, rgba(137, 250, 230, 1) 0%, rgba(105, 113, 162, 1) 100%);
    padding-top: 4rem;
}

.container {
    /* margin-top: 4rem; */
    margin-inline: auto;
    width: 30rem;
    /* height: 33rem; */
    border-radius: 1rem;
    padding: 2rem;
    background: linear-gradient(130deg, rgba(0, 223, 183, 1) 0%, rgba(0, 145, 163, 1) 46%, rgba(58, 64, 102, 1) 100%);
}

form {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.input {
    flex-basis: 85%;
    height: 3rem;
    width: 100%;
    padding-inline: 1.5rem;
    outline: none;
    border: 1px solid;
    background-color: #ffff;
    color: black;
    border: none;
    border-radius: 2rem;
    font-size: 1.1rem;
}

button {
    /* flex-basis: 20%; */
    background-color: #fff;
    border: none;
    outline: none;
    display: grid;
    place-items: center;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    cursor: pointer;
}

button i {
    font-size: 1.5rem;
    color: black;
}

.weather-info {
    display: none;
}

.weather-info.show {
    display: block;
}

.weather-img {
    width: 10rem;
    margin: auto;
    display: block;
}

.weather-info h1 {
    font-size: 4rem;
    font-weight: 400;
    text-align: center;
    line-height: 4rem;
    margin-top: 2rem;
}

.weather-info h2 {
    font-size: 2.5rem;
    font-weight: 400;
    text-align: center;
}

.more-data {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    margin-top: 2.5rem;
}

.humidity,
.wind {
    display: flex;
    align-items: flex-start;
    gap: .8rem;
}

.humidity img,
.wind img {
    width: 3rem;
}

.humidity img {
    height: 2.3rem;
}

.info h5 {
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1.5rem;
}

.info p {
    font-size: .9rem;
    font-weight: 400;
    margin-top: .3rem;
}

@media screen and (max-width:540px) {
    .container {
        width: 90%;
        padding: 2rem 1rem;
    }

    form {
        gap: .5rem;
    }
}
@media screen and (max-width:400px) {
    .container {
        width: 90%;
        padding: 2rem 1rem;
    }

    form {
        gap: .5rem;
    }

    .input{
        font-size: .9rem;
    }

    .more-data{
        flex-direction: column;
    }
}